#parrafoExterno, h1, .contenedor {
    color: darkorange;
}

.contenedor {
    /* border: 1px solid; */
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    background-color: #F2F2F2;
    text-align: center;
    padding: 10px;
    width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
}